__pycache__/
.DS_Store
*.egg-info
build/
*.swp
*.JPG
*.jpg
*.jpeg
*.png
*.csv
docs/notes/
.vscode/
.ipynb_checkpoints/
*.env
.sw*
.zip
Presentation/data/
*zip
__secrets__
*geneList*
*node_modules*
*.txt
Presentation 1
