.custom-dropdown {
  position: relative;
  display: inline-block;
  width: 200px;
}

.dropdown-selected {
  background-color: purple;
  color: white;
  border: 2px solid purple;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-options {
  width: 200px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: lightblue;
  color: black;
  border: 2px solid orange;
  border-top: none;
  border-radius: 0 0 4px 4px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  z-index: 1;
  overflow-y: auto;  
}

.dropdown-option {
  padding: 8px;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: orange;
  color: white;
}
