body {
  font-family: sans-serif;
  background-color: #000000cc;
}
.App {
  background-color: #000000;
  border: 1px solid white;
  display: inline-block;
}
.legendContainer {
  display: flex;
  justify-content: center;
}
.checkbox {
  margin: 10px;
}
